.mt-1 {
  margin-top: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-field > label:not(.label-icon).active {
  font-size: 22px !important;
  transform: translateY(-25px);
}

.todo {
  margin-bottom: 1rem;
  width: 100%;
}

.todo label {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo i {
  z-index: 2;
}
